AppProductores/Service References/WebServicesProductores/AgroMarketService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50629/AgroMarketService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LoginResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAgroContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="xs:int" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LoginResponse" nillable="true" type="tns:LoginResponse" />
  <xs:complexType name="BaseAgroContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:ErrorResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseAgroContract" nillable="true" type="tns:BaseAgroContract" />
  <xs:complexType name="ErrorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorResponse" nillable="true" type="tns:ErrorResponse" />
  <xs:complexType name="ProductResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAgroContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProduct" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductResponse" nillable="true" type="tns:ProductResponse" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ProductUnitResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAgroContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="UnitTypes" nillable="true" type="tns:ArrayOfProductUnit" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProductUnitResponse" nillable="true" type="tns:ProductUnitResponse" />
  <xs:complexType name="ArrayOfProductUnit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductUnit" nillable="true" type="tns:ProductUnit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductUnit" nillable="true" type="tns:ArrayOfProductUnit" />
  <xs:complexType name="ProductUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductUnit" nillable="true" type="tns:ProductUnit" />
  <xs:complexType name="GeneralResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAgroContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GeneralResponse" nillable="true" type="tns:GeneralResponse" />
  <xs:complexType name="OfferResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAgroContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Offers" nillable="true" type="tns:ArrayOfOffer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfferResponse" nillable="true" type="tns:OfferResponse" />
  <xs:complexType name="ArrayOfOffer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Offer" nillable="true" type="tns:Offer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOffer" nillable="true" type="tns:ArrayOfOffer" />
  <xs:complexType name="Offer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PriceUnit" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductUnitId" type="xs:int" />
      <xs:element minOccurs="0" name="Productor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductorId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Offer" nillable="true" type="tns:Offer" />
  <xs:complexType name="IntentionBuyingResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAgroContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Intentions" nillable="true" type="tns:ArrayOfIntentionBuying" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntentionBuyingResponse" nillable="true" type="tns:IntentionBuyingResponse" />
  <xs:complexType name="ArrayOfIntentionBuying">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IntentionBuying" nillable="true" type="tns:IntentionBuying" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIntentionBuying" nillable="true" type="tns:ArrayOfIntentionBuying" />
  <xs:complexType name="IntentionBuying">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buyer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerId" type="xs:int" />
      <xs:element minOccurs="0" name="DateCreation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IntentionsToSellId" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="ProductList" nillable="true" type="tns:ArrayOfProductIntention" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntentionBuying" nillable="true" type="tns:IntentionBuying" />
  <xs:complexType name="ArrayOfProductIntention">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductIntention" nillable="true" type="tns:ProductIntention" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductIntention" nillable="true" type="tns:ArrayOfProductIntention" />
  <xs:complexType name="ProductIntention">
    <xs:sequence>
      <xs:element minOccurs="0" name="PriceUnit" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductUnitId" type="xs:int" />
      <xs:element minOccurs="0" name="Quantity" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductIntention" nillable="true" type="tns:ProductIntention" />
  <xs:complexType name="IntentionsSellResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAgroContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="Intentions" nillable="true" type="tns:ArrayOfIntentionSell" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntentionsSellResponse" nillable="true" type="tns:IntentionsSellResponse" />
  <xs:complexType name="ArrayOfIntentionSell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IntentionSell" nillable="true" type="tns:IntentionSell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIntentionSell" nillable="true" type="tns:ArrayOfIntentionSell" />
  <xs:complexType name="IntentionSell">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProductList" nillable="true" type="tns:ArrayOfProductIntention" />
      <xs:element minOccurs="0" name="Seller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntentionSell" nillable="true" type="tns:IntentionSell" />
  <xs:complexType name="SellsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseAgroContract">
        <xs:sequence>
          <xs:element minOccurs="0" name="SellList" nillable="true" type="tns:ArrayOfSell" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SellsResponse" nillable="true" type="tns:SellsResponse" />
  <xs:complexType name="ArrayOfSell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sell" nillable="true" type="tns:Sell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSell" nillable="true" type="tns:ArrayOfSell" />
  <xs:complexType name="Sell">
    <xs:sequence>
      <xs:element minOccurs="0" name="Buyer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyerId" type="xs:int" />
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IntentionBuyId" type="xs:int" />
      <xs:element minOccurs="0" name="IntentionSellId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductList" nillable="true" type="tns:ArrayOfProductIntention" />
      <xs:element minOccurs="0" name="Seller" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sell" nillable="true" type="tns:Sell" />
</xs:schema>