AppProductores/Service References/WebServicesProductores/AgroMarketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AgroMarketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50629/AgroMarketService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50629/AgroMarketService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50629/AgroMarketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" />
      <xsd:import schemaLocation="http://localhost:50629/AgroMarketService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Requests" />
      <xsd:import schemaLocation="http://localhost:50629/AgroMarketService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgroMarketService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_LogOff_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOff" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_LogOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOffResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetUnitTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitTypes" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetUnitTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUnitTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_CreateOffer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOffer" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_CreateOffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOfferResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_RemoveOffer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOffer" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_RemoveOffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveOfferResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetOffer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOffer" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetOffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOfferResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetAllOffers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOffers" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetAllOffers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOffersResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_CreateIntentionToBuy_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIntentionToBuy" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_CreateIntentionToBuy_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIntentionToBuyResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_CreateIntentionToBuyFromOffers_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIntentionToBuyFromOffers" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_CreateIntentionToBuyFromOffers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIntentionToBuyFromOffersResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_RemoveIntentionToBuy_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveIntentionToBuy" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_RemoveIntentionToBuy_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveIntentionToBuyResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetIntentionToBuy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntentionToBuy" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetIntentionToBuy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntentionToBuyResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetAllIntentionsToBuy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIntentionsToBuy" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetAllIntentionsToBuy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIntentionsToBuyResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_CreateIntentionToSell_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIntentionToSell" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_CreateIntentionToSell_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIntentionToSellResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_RemoveIntentionToSell_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveIntentionToSell" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_RemoveIntentionToSell_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveIntentionToSellResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetIntentionToSell_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntentionToSell" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetIntentionToSell_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntentionToSellResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetIntentionsToSell_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIntentionsToSell" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetIntentionsToSell_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIntentionsToSellResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_MakeDeal_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeDeal" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_MakeDeal_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeDealResponse" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetAllSells_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSells" />
  </wsdl:message>
  <wsdl:message name="IAgroMarketService_GetAllSells_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSellsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAgroMarketService">
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/SignIn" message="tns:IAgroMarketService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/SignInResponse" message="tns:IAgroMarketService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/LogOff" message="tns:IAgroMarketService_LogOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/LogOffResponse" message="tns:IAgroMarketService_LogOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/GetProducts" message="tns:IAgroMarketService_GetProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/GetProductsResponse" message="tns:IAgroMarketService_GetProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUnitTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/GetUnitTypes" message="tns:IAgroMarketService_GetUnitTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/GetUnitTypesResponse" message="tns:IAgroMarketService_GetUnitTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/CreateOffer" message="tns:IAgroMarketService_CreateOffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/CreateOfferResponse" message="tns:IAgroMarketService_CreateOffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveOffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/RemoveOffer" message="tns:IAgroMarketService_RemoveOffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/RemoveOfferResponse" message="tns:IAgroMarketService_RemoveOffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/GetOffer" message="tns:IAgroMarketService_GetOffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/GetOfferResponse" message="tns:IAgroMarketService_GetOffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOffers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/GetAllOffers" message="tns:IAgroMarketService_GetAllOffers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/GetAllOffersResponse" message="tns:IAgroMarketService_GetAllOffers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIntentionToBuy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/CreateIntentionToBuy" message="tns:IAgroMarketService_CreateIntentionToBuy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/CreateIntentionToBuyResponse" message="tns:IAgroMarketService_CreateIntentionToBuy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIntentionToBuyFromOffers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/CreateIntentionToBuyFromOffers" message="tns:IAgroMarketService_CreateIntentionToBuyFromOffers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/CreateIntentionToBuyFromOffersResponse" message="tns:IAgroMarketService_CreateIntentionToBuyFromOffers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveIntentionToBuy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/RemoveIntentionToBuy" message="tns:IAgroMarketService_RemoveIntentionToBuy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/RemoveIntentionToBuyResponse" message="tns:IAgroMarketService_RemoveIntentionToBuy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntentionToBuy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/GetIntentionToBuy" message="tns:IAgroMarketService_GetIntentionToBuy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/GetIntentionToBuyResponse" message="tns:IAgroMarketService_GetIntentionToBuy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIntentionsToBuy">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/GetAllIntentionsToBuy" message="tns:IAgroMarketService_GetAllIntentionsToBuy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/GetAllIntentionsToBuyResponse" message="tns:IAgroMarketService_GetAllIntentionsToBuy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIntentionToSell">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/CreateIntentionToSell" message="tns:IAgroMarketService_CreateIntentionToSell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/CreateIntentionToSellResponse" message="tns:IAgroMarketService_CreateIntentionToSell_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveIntentionToSell">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/RemoveIntentionToSell" message="tns:IAgroMarketService_RemoveIntentionToSell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/RemoveIntentionToSellResponse" message="tns:IAgroMarketService_RemoveIntentionToSell_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntentionToSell">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/GetIntentionToSell" message="tns:IAgroMarketService_GetIntentionToSell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/GetIntentionToSellResponse" message="tns:IAgroMarketService_GetIntentionToSell_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIntentionsToSell">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/GetIntentionsToSell" message="tns:IAgroMarketService_GetIntentionsToSell_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/GetIntentionsToSellResponse" message="tns:IAgroMarketService_GetIntentionsToSell_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeDeal">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/MakeDeal" message="tns:IAgroMarketService_MakeDeal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/MakeDealResponse" message="tns:IAgroMarketService_MakeDeal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSells">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgroMarketService/GetAllSells" message="tns:IAgroMarketService_GetAllSells_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgroMarketService/GetAllSellsResponse" message="tns:IAgroMarketService_GetAllSells_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAgroMarketService" type="tns:IAgroMarketService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/LogOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnitTypes">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/GetUnitTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOffer">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/CreateOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveOffer">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/RemoveOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOffer">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/GetOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOffers">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/GetAllOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIntentionToBuy">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/CreateIntentionToBuy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIntentionToBuyFromOffers">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/CreateIntentionToBuyFromOffers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveIntentionToBuy">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/RemoveIntentionToBuy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntentionToBuy">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/GetIntentionToBuy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIntentionsToBuy">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/GetAllIntentionsToBuy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIntentionToSell">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/CreateIntentionToSell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveIntentionToSell">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/RemoveIntentionToSell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntentionToSell">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/GetIntentionToSell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntentionsToSell">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/GetIntentionsToSell" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeDeal">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/MakeDeal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSells">
      <soap:operation soapAction="http://tempuri.org/IAgroMarketService/GetAllSells" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgroMarketService">
    <wsdl:port name="BasicHttpBinding_IAgroMarketService" binding="tns:BasicHttpBinding_IAgroMarketService">
      <soap:address location="http://localhost:50629/AgroMarketService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>