AppProductores/Service References/WebServicesProductores/AgroMarketService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50629/AgroMarketService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" />
  <xs:import schemaLocation="http://localhost:50629/AgroMarketService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Requests" />
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="SignInResult" nillable="true" type="q1:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="LogOffResult" nillable="true" type="q2:ErrorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="GetProductsResult" nillable="true" type="q3:ProductResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnitTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="GetUnitTypesResult" nillable="true" type="q4:ProductUnitResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="tipoUnidad" type="xs:int" />
        <xs:element minOccurs="0" name="precioUnidad" type="xs:decimal" />
        <xs:element minOccurs="0" name="codigoProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="CreateOfferResult" nillable="true" type="q5:GeneralResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="RemoveOfferResult" nillable="true" type="q6:ErrorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="offerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOfferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="GetOfferResult" nillable="true" type="q7:OfferResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOffers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOffersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="GetAllOffersResult" nillable="true" type="q8:OfferResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIntentionToBuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Requests" minOccurs="0" name="request" nillable="true" type="q9:IntentionToBuyFromProducts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIntentionToBuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="CreateIntentionToBuyResult" nillable="true" type="q10:GeneralResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIntentionToBuyFromOffers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Requests" minOccurs="0" name="request" nillable="true" type="q11:IntentionToBuyFromOffers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIntentionToBuyFromOffersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="CreateIntentionToBuyFromOffersResult" nillable="true" type="q12:GeneralResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIntentionToBuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intentionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIntentionToBuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="RemoveIntentionToBuyResult" nillable="true" type="q13:ErrorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntentionToBuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intentionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntentionToBuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="GetIntentionToBuyResult" nillable="true" type="q14:IntentionBuyingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIntentionsToBuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIntentionsToBuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="GetAllIntentionsToBuyResult" nillable="true" type="q15:IntentionBuyingResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIntentionToSell">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Requests" minOccurs="0" name="request" nillable="true" type="q16:IntentionToSellRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIntentionToSellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="CreateIntentionToSellResult" nillable="true" type="q17:GeneralResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIntentionToSell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intentionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveIntentionToSellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="RemoveIntentionToSellResult" nillable="true" type="q18:ErrorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntentionToSell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intentionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntentionToSellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="GetIntentionToSellResult" nillable="true" type="q19:IntentionsSellResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntentionsToSell">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIntentionsToSellResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="GetIntentionsToSellResult" nillable="true" type="q20:IntentionsSellResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intentionSellId" type="xs:int" />
        <xs:element minOccurs="0" name="intentionBuyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="MakeDealResult" nillable="true" type="q21:ErrorResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSells">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSellsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AgroMarketRD.Service.Contracts" minOccurs="0" name="GetAllSellsResult" nillable="true" type="q22:SellsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>